*{
    margin:0;
    padding: 0;
}

:root{
    --red: #DA4167;
    --blue:#308EF4;
    --dark-blue:#2E4057;
    --yellow:#F4D35E;
    --light: #F6D8AE;
}

/*/   Disable scrollbar (everywhere) /*/
@-moz-document url-prefix() { 
    html{
        scrollbar-width: none;
    }
    }
body {
    margin: 0; 
    -ms-overflow-style: none; 
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* Page */
body{
    height: 120vh;
    width: 100%;
    font-family: 'Hammersmith One', sans-serif;
    color: var(--dark-blue);
    overflow: hidden;
    font-size: 1.9vh;
}

/*Header*/
header{
    background:var(--light);
    height:15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
}

/* --- Main Page --- */
section{
    width: 100%;
    height: 85%;
    background:var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vh;
}

/*nav*/
nav{
    height: 3%;
    width: 100%;
    position: absolute;
    margin-top: 4vh;
    background:var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
}
nav>h2{
    font-size: 1.5vh;
}
/* ---Articles (cases jaune et rouge)--- */
article{
    height: 60%;
    width: 40%;
    transform: translate(0,-10vh);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}
#brief1{
    background:var(--red);
}
#brief2{
    background:var(--yellow);
    gap: 2vh;
}
/*content style*/
article>a{
    color: var(--dark-blue);
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content:center;
}
article>a:hover{
    background:var(--blue);
}
article>p{
    text-decoration: underline var(--dark-blue) ;
}
/*-----footer-----*/
footer{
    background:var(--blue);
    position: absolute;
    height: 30vh;
    width: 100%;
    bottom: -10%;
    transform: scale(2);
    animation: vagues 10s ease infinite;
}
/*Assets*/
#fish1{
    width: 2%;
    position: absolute;
    bottom: 40%;
    left: 20%;
    opacity: 85%;
    animation: fish1 30s ease-in-out infinite;
}


/*Animations */
@keyframes vagues {
    0%, 100% {
        border-radius: 66% 34% 12% 15%
    }
    50% {
        border-radius: 19% 75% 22% 17%}
}

@keyframes fish1 {
    0%{
        transform: translate(-15vh,7vh);
    }
    10%{
        transform: translate(0,0);
    }
    20%{
        transform: translate(13vh,-3vh);
    }
    30%{
        transform: translate(27vh,0vh);
    }
    40%{
        transform: translate(57vh,-7vh);
    }
    60%{
        transform: translate(78vh,2vh);
    }
    80%{
        transform: translate(100vh,-4vh);
    }
    100%{
        transform: translate(200vh,20vh);
    }
}

